---
import CardListItem from './CardListItem.astro';

interface Tech {
  name: string;
  icon: string;
  link: string;
}

interface Item {
  title: string;
  sub_title: string;
  years: string;
  details?: string;
  bullets?: string[];
  company_link?: string;
  company_icon?: string;
  company_logo_url?: string;
  technologies?: Tech[];
}

const { title, items } = Astro.props;
---

<section class="py-14 bg-background">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl lg:text-4xl font-semibold text-center mb-12">
        {title}
    </h2>

    <ul class="space-y-8">
      {items.map((item: Item) => (
        <CardListItem
          title={item.title}
          sub_title={item.sub_title}
          years={item.years}
          details={item?.details}
          bullets={item?.bullets}
          company_link={item?.company_link}
          company_icon={item?.company_icon}
          company_logo_url={item?.company_logo_url}
          technologies={item?.technologies}
        />
      ))}
    </ul>
  </div>
</section>
