---
import { Icon } from "astro-icon/components";
import { basic, menuItems, socialLinks } from "../../config/cv.json";
---

<header class="bg-background py-4">
  <div class="container max-w-6xl mx-auto flex justify-between items-center gap-4 px-4 md:px-8">
    <!-- Logo -->
    <div class="text-2xl font-bold min-w-0 truncate">
      <a href="/" class="hover:text-offset">{basic?.name}</a>
    </div>

    <div class="flex items-center gap-3 sm:gap-5 shrink-0 min-h-6">
      <!-- PC Menu -->
      <nav class="hidden sm:flex items-center gap-6">
        {menuItems.map((item) => (
          <a
            href={item.link}
            class="inline-flex items-center leading-none hover:text-offset"
          >
            {item.name}
          </a>
        ))}
      </nav>

      {socialLinks?.length > 0 && (
        <ul class="flex items-center gap-3 sm:gap-4" aria-label="Social profiles">
          {socialLinks.map((social) => (
            <li class="flex items-center">
              <a
                href={social.link}
                title={social.iconName}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center justify-center text-default transition-all duration-300 hover:text-primary focus-visible:text-primary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
              >
                <Icon
                  name={social.iconName}
                  class="w-4 h-4 sm:h-[18px] sm:w-[18px] shrink-0 [&_svg]:block"
                />
              </a>
            </li>
          ))}
        </ul>
      )}

      <!-- Mobile Menu Button -->
      <div class="sm:hidden flex items-center">
        <button id="menu-btn" class="inline-flex items-center justify-center focus:outline-none" aria-label="Mobile open menu">
          <Icon name="Menu" class="size-6 shrink-0 [&_svg]:block"/>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="hidden sm:hidden">
    {menuItems.map((item) => (
      <a href={item.link} class="block px-4 py-2 hover:bg-background-offset">
        {item.name}
      </a>
    ))}
  </div>
</header>

<script>
  const menuBtn = document.getElementById('menu-btn');
  const mobileMenu = document.getElementById('mobile-menu');

  menuBtn?.addEventListener('click', () => {
    mobileMenu?.classList.toggle('hidden');
  });
</script>
